html, body {
  height: 100%;
  background-color: #ccc;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'ABeeZee', sans-serif;
}

.navbar {
  border-radius: 0;
}

.navbar-inverse .navbar-brand {
  color: #fefefe;
  font-family: 'ABeeZee', sans-serif;
}

/* Inverted outline button (white on dark) */
.btn-outline-inverse {
  color: #fff;
  background-color: transparent;
  border-color: lighten(#222, 80%);
}
.btn-outline-inverse:hover,
.btn-outline-inverse:focus,
.btn-outline-inverse:active {
  color: #222;
  text-shadow: none;
  background-color: #fff;
  border-color: #fff;
}
