
.ridelink-home-wrapper {
  position: relative;
  // top: 50px;
  width: 100%;
  height: 100%;

  background-color: #222;
}
  .item-wrapper.index {
    text-align: left;
    // padding-top: 140px;
    // padding-bottom: 140px;

    background: url(../images/index.background.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    h1 {
      color: #f1f1f1;
      font: {
        size: 90px;
      }
    }

    p.lead {
      color: lighten(#222, 80%);
    }

    .cta-wrapper {
      padding-top: 50px;
    }

    .btn-outline-inverse {
      width: auto;
      margin: 20px 5px 20px 0;
      padding: 18px 24px;
      font-size: 21px;
    }
  }

  .item-wrapper.bookit {
    background-color: #101215;

    .well {
      border-color: lighten(#222, 15%);
      background-color: lighten(#222, 5%);
    }

    .control-label {
      text-align: left;
      color: lighten(#222, 80%);
      margin-bottom: 5px;
    }

    .has-error .control-label {
      color: #b94a48;
    }

    .panel-default {
      border-color: lighten(#222, 3%);
    }

    .panel-heading {
      color: #f1f1f1;
      background-color: #222222;
      border-color: lighten(#222, 3%);
    }

    .panel-body {
      color: darken(#f1f1f1, 2%);
      background-color: darken(#222, 2%);
    }

    .pickup-type {
      margin-bottom: 10px;
    }
  }

  .item-wrapper.comparison {
    background-color: #440000;
  }